
.hide-column-names table thead tr {
    display: none;
}

.color-red {
    color: #F00;
}

input[type='file'] {
   color: transparent ;

}

.ui-icon-next{
    background-image: url("#{resource['images/arrow_right.png']}") !important;
}

.ui-icon-prev{
    background-image: url("#{resource['images/arrow_left.png']}") !important;
}


.ui-icon-first{
    background-image: url("#{resource['images/arrow_in.png']}") !important;
}
.ui-icon-last{
    background-image: url("#{resource['images/arrow_out.png']}") !important;
}

